.m-signature-pad {
    font-size: 10px;
    width: 400px;
    height: 200px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
    border-radius: 4px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  .m-signature-pad--body {
    bottom: 60px;
    border: 1px solid #f4f4f4;
  }
  
  .m-signature-pad--body
    canvas {
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
    }
  
  

  @media screen and (max-width: 1024px) {
    .m-signature-pad {
      width: auto;
      height: auto;
      min-width: 250px;
      min-height: 100px;
      margin: 5%;
    }
    #github {
      display: none;
    }
  }
  
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .m-signature-pad {
      margin: 10%;
    }
  }
  
  @media screen and (max-height: 320px) {
    .m-signature-pad--footer
      .description {
        font-size: 1em;
        margin-top: 1em;
      }
  }